.a-bg--gradient {
  &--light {
    background-image: $gradient-contrast;
  }
  &--mono-light {
    background-image: $gradient-mono-light;
  }
  &--transparent {
    @each $class, $value in $gradient-brand-transparent {
      &-#{$class} {
        background-image: $value;
      }
    }
  }
}