<nav class="ml-anchor-cloud
            a-pad-40
            l-flex l-flex--direction-column l-flex--align-center
            {{modifier}}">
    <div class="ml-anchor-cloud__title
                a-pad-5
                a-text a-text--m a-text--bold a-text--brand">Acceso rápido:</div>
    <div class="ml-anchor-cloud__list
                l-flex l-flex--wrap l-flex--justify-center
                bs_anchor_container"
         data-parent="ml-anchor-cloud"
         data-link-class="a-text--link a-text--brand a-text--xs a-text--center a-pad-5">
    </div>
</nav>