<header class="og-logo-inline
    a-bg--mono-0
    l-flex l-grid-column--full
    u-layer-5 u-shadow--bottom l-position
    {{modifier}}">
    <a href="/">
        {{> atoms/image/normal
                pictureClass="l-column--1-1 l-position--absolute"
                modifier="l-position--absolute l-position--absolute--center-x
                         og-logo-inline__image a-pad-5"
                src=logo}}
    </a>
</header>