<nav class="a-text l-flex l-flex--direction-column {{modifier}}">
    {{> atoms/title/link title="Cursos" modifier=linkModifier}}
    {{> atoms/title/link title="SEO" modifier=linkModifier}}
    {{> atoms/title/link title="Aprende" modifier=linkModifier}}
    {{> atoms/title/link title="Optimización" modifier=linkModifier}}
    {{> atoms/title/link title="Traducción a Ruso" modifier=linkModifier}}
</nav>