<section class="l-grid-column--full og-banner-screen
                l-flex l-flex--justify-center l-flex--align-center l-flex--direction-column {{modifier}}">
    {{> atoms/title/h1 title="Spoiler Free" size="xl" color="secondary" modifier="a-text--uppercase a-text--bold"}}
    {{> atoms/image/normal
            modifier="l-column--2-3"
            pictureClass=" a-text--center"
            src=logo
    }}
    <div class="l-flex l-flex--justify-center">
        <select class="a-mar">
            <option>Elige Saga</option>
            <option>El Señor de los Anillos</option>
            <option>La Rueda del Tiempo</option>
            <option>Juego de Tronos</option>
            <option>Hobbit</option>
        </select>
        <select class="a-mar">
            <option>¿Donde te quedaste?</option>
            <option>La Comunidad de Anillo</option>
            <option>Las Dos Torres</option>
            <option>El Retorno del Rey</option>
        </select>
    </div>
    <a class="a-mar a-button a-button--secondary a-button--linear--double a-button--xl" href="/hackathon"> Refrescar Memoria</a>
</section>