@import "base";
@import "utils/thirdParty/normalize";
@import "utils/medias/index";
/** THEME & Branding**/
@import "atoms/theme/index";
/** ATOMS **/
@import "atoms/spaces/padding";
@import "atoms/spaces/margin";
@import "atoms/text/sizes";
@import "atoms/text/colors";
@import "atoms/text/modifier";
@import "atoms/text/icons";
@import "atoms/text/titles";
@import "atoms/price/index";
@import "atoms/button/color";
@import "atoms/button/sizes";
@import "atoms/button/shape";
@import "atoms/button/slider";
@import "atoms/button/icon";
@import "atoms/image/shape";
@import "atoms/background/color";
@import "atoms/background/shape";
@import "atoms/background/gradient";
@import "atoms/spaces/separator";
@import "atoms/borders/types";
@import "atoms/borders/position";
@import "atoms/separator/color";
@import "atoms/icon/svg";
/** ASSETS **/
@import "atoms/media/cursor";
/** ANIMATION **/
@import "atoms/animations/bell";
@import "atoms/animations/bg";
@import "atoms/microinteractions/index";
@import "atoms/microinteractions/bounce";
@import "atoms/microinteractions/color";
@import "atoms/microinteractions/pulse";
@import "atoms/microinteractions/float";

body {
  font-size: $font-size-text;
  color: $primary-color-text;
  font-family: $font, sans-serif;
}

/** LAYOUT  **/
@import "layout/basic/flex";
@import "layout/basic/columns";
@import "layout/basic/positions";
@import "layout/grid/column";
/** UTILS  **/
@import "utils/layers/index";
@import "utils/devices/index";
@import "utils/overflow/index";
@import "utils/display/index";
@import "utils/shadow/index";








