$media-size-sm: 380px;
$media-size-m: 768px;
$media-size-lm: 840px;
$media-size-l: 1200px;
$media-size-xl: 1400px;

$spaceMap: (
        "0" : 0,
        "1" : 1px,
        "5" : 5px,
        "15": 15px,
        "20": 20px,
        "40": 40px,
        "60": 60px
);