.a-pad {
  padding: 10px;
  @each $class, $value in $spaceMap {
    &-#{$class} {
      padding: $value;
    }
  }
  &-auto {
    padding: 0 auto
  }
  &--x {
    padding: 0 10px;
    @each $class, $value in $spaceMap {
      &-#{$class} {
        padding: 0 $value;
      }
    }
  }
  &--bottom {
    padding-bottom: 10px;
    @each $class, $value in $spaceMap {
      &-#{$class} {
        padding-bottom: $value;
      }
    }
  }
  &--top {
    padding-top: 10px;
    @each $class, $value in $spaceMap {
      &-#{$class} {
        padding-top: $value;
      }
    }
  }

  &--left {
    padding-left: 10px;
    @each $class, $value in $spaceMap {
      &-#{$class} {
        padding-left: $value;
      }
    }
  }

  &--right {
    padding-right: 10px;
    @each $class, $value in $spaceMap {
      &-#{$class} {
        padding-right: $value;
      }
    }
  }

  &--y {
    padding: 10px 0;
    @each $class, $value in $spaceMap {
      &-#{$class} {
        padding: $value 0;
      }
    }
  }
}

@media only screen and (max-width: $media-size-m) {
  .a-pad {
    &--mobile {
      padding: 5px;
      &-0 {
        padding: 0;
      }
      &-20 {
        padding: 10px;
      }
      &-40 {
        padding: 20px;
      }
      &--left {
        padding-left: 5px;
        &-20 {
          padding-left: 10px;
        }
        &-40 {
          padding-left: 20px;
        }
      }
      &--right {
        padding-right: 5px;
        &-20 {
          padding-right: 10px;
        }
        &-40 {
          padding-right: 20px;
        }
      }
      &--bottom {
        padding-bottom: 5px;
        &-20 {
          padding-bottom: 10px;
        }
        &-40 {
          padding-bottom: 20px;
        }
      }
      &--top {
        padding-top: 5px;
        &-20 {
          padding-top: 10px;
        }
        &-40 {
          padding-top: 20px;
        }
      }
      &--x {
        padding: 0 5px;
        &-20 {
          padding: 0 10px;
        }
        &-40 {
          padding: 0 20px;
        }
      }
      &--y {
        padding: 5px 0;
        &-20 {
          padding: 10px 0;
        }
        &-40 {
          padding: 20px 0;
        }
      }
    }
  }
}

