<div class="ml-box ml-box--circle l-flex l-flex--align-center l-flex--justify-center l-flex--direction-column {{modifier}}">
    {{> atoms/paragraph/simple
            text=heading
            modifier="a-text--center a-text--xs"
    }}
    {{> atoms/title/h1
            size="l"
            title=destination
            modifier="a-text--bold"
    }}
    {{> atoms/paragraph/simple
            text=subtitle
            modifier="a-text--center a-text--xs"
    }}
</div>