.l-grid-column {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 150px) 1fr minmax(auto, 900px) 1fr minmax(100px, 150px) 1fr;
  & > * {
    grid-column: 3/5;
  }
  &--full {
    grid-column: 1/-1;
  }
  &--side {
    grid-column: 1/3;
    &--right {
      grid-column: 5/-1;
    }
  }
}

@media only screen and (max-width: $media-size-m) {
  .l-grid-column {
    grid-template-columns: 24px 1fr minmax(auto, 900px) 1fr 24px;
    & > * {
      grid-column: 2/4;
    }
    &--full {
      grid-column: 1/-1;
    }
    &--side {
      grid-column: 2/4;
      &--right {
        grid-column: 2/4;
      }
    }
  }
}

