:root {
  --primary-color: #2196F3;
  --primary-color--dark: #1976D2;
  --primary-color--light: #BBDEFB;

  --secondary-color: #7C4DFF9;
  --secondary-color--dark: #6933ff;
  --secondary-color--light: #8f66ff;

  --primary-color-text: #212121;
  --secondary-color-text: #FFFFFF;

  --contrast-color: #FFED82;

}