$primary-color: var(--primary-color);
$primary-color-dark: var(--primary-color--dark);
$primary-color-light: var(--primary-color--light);
$primary-color-text: var(--primary-color-text);

$secondary-color: var(--secondary-color);
$secondary-color-dark: var(--secondary-color--dark);
$secondary-color-light: var(--secondary-color--light);
$secondary-color-text: var(--secondary-color-text);

$contrast-color: var(--contrast-color);

@import "brands";
@import "fonts";


