<div class="ml-article-condensed l-position l-flex l-flex--direction-column l-flex--justify-end {{modifier}}  ">
    {{> atoms/image/background modifier="a-image--cover" pictureClass="bs_viewport a-mi--color-grayscale" src=src}}
    <div class="ml-article-condensed__excerpt a-text a-pad a-text--light a-text--secondary a-text--xs">{{excerpt}}</div>
    {{> atoms/title/link modifier="a-text a-text--secondary a-text--bold a-text--center a-pad" title="Berlín"}}
</div>