<div class="ml-card-avatar-description l-flex l-flex--direction-column l-flex--justify-center l-flex--align-center {{modifier}}">
    <div class="a-text a-text--center a-text--bold">J. Gaspar</div>
    {{> atoms/image/avatar
            src=image
            pictureClass="a-pad"
            modifier=""
    }}
    <div class="a-text a-text--center">Analista y Project Manager</div>
</div>