<a href="#" class="ml-card-articles-quark a-mar u-shadow--bottom a-text">
    <div class="ml-card-articles-quark__image l-position">
        {{> atoms/image/background
                modifier="a-image--cover bs_viewport a-mi a-mi--zoom a-mi--zoom--out"
                pictureClass="
                a-border a-border--bottom a-border--mobile--bottom
                a-border--fat a-border--primary
                "
                src=images.bg}}
    </div>
    <div class="ml-card-articles-quark__bubble a-mar-auto"></div>
    <div class="ml-card-articles-quark__content
               l-column--1-1 a-pad--bottom-20">
        {{> atoms/title/h2 modifier="a-text--m a-text--center a-text--brand" title="Foundation"}}
    </div>
</a>