<article class="ml-articles-road a-mar a-text a-mar--top-20 a-border a-border--primary">
    <div class="ml-articles-road__image l-position">
        {{> atoms/image/background
                modifier="a-image--cover"
                pictureClass=""
                src=images.bg}}
    </div>
    <div class="ml-card-articles-road__title a-bg a-pad l-flex l-flex--justify-center">
        {{> atoms/title/link modifier="a-text a-text--secondary a-text--center a-text--uppercase" title="City Lights"}}
    </div>
    <div class="ml-card-articles-road__description">
        {{> atoms/paragraph/simple modifier="a-pad-20"
                text="My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized."}}
    </div>
</article>