<div class="ml-card-sample l-flex l-flex--direction-column {{modifier}} a-pad">
    <div class="ml-card-sample__title l-column--1-1">
        {{> atoms/title/h3 title="Binary Tree" modifier="a-text--secondary a-text--center a-pad--y"}}
    </div>
    <div class="ml-card-sample__container l-column--1-1 l-position">
        {{> atoms/image/normal
                src=images.transparent
                pictureClass="l-column--1-1"
                modifier="l-column--1-1 a-pad--y"
        }}
        {{> molecules/share/deploy
                modifier="ml-share-deploy ml-share-deploy--right l-position--absolute--bottom-left"
                iconModifier=""
                id="unique"}}
    </div>

</div>