<div class="ml-visual-color l-column--1-1 ">
    <div class="ml-visual-color__rectangle
                l-column--1-1
                {{color}}"></div>
    <div class="ml-visual-color__square
                l-column--1-1
                l-flex l-flex--align-center l-flex--justify-center
                a-mar--top-40
                a-text
                a-text--center
                a-text--bold
                bs_color_replace {{color}}"
         data-target="{{color}}"></div>
</div>