<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/index.min.css" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{name}}">
    <title>{{name}}</title>

</head>
<body class="{{brand}} l-grid-column">
{{{body}}}
<script type="text/javascript" src="/js/components.min.js"></script>
</body>
</html>