.aviator {
  --primary-color: red;
  --primary-color--dark: #7C0000;
  --primary-color--light: #FF1C06;

  --secondary-color: black;
  --secondary-color--dark: black;
  --secondary-color--light: #6c6e71;

  --primary-color-text: red;
  --secondary-color-text: white;

  --contrast-color: #dd8d3a;
}










