.diable {
  --primary-color: #ed1b23;
  --primary-color--dark: #8c0a0a;
  --primary-color--light: #fd8181;

  --secondary-color: #524e4f;
  --secondary-color--dark: #444041;
  --secondary-color--light: #d7d9da;

  --primary-color-text: #231f20;
  --secondary-color-text: #FFFFFF;

  --contrast-color: #ed1c24;

}


