.forest {
  --primary-color: #4CAF50;
  --primary-color--dark: #3d8b40;
  --primary-color--light: #6ec071;

  --secondary-color: #23502a;
  --secondary-color--dark: #132c17;
  --secondary-color--light: #33733d;

  --primary-color-text: black;
  --secondary-color-text: white;

  --contrast-color: #dd8d3a;
}


