.kino {
  --primary-color: #a7d9cd;
  --primary-color--dark: #83cab9;
  --primary-color--light: #cbe8e1;

  --secondary-color: #535557;
  --secondary-color--dark: #3a3b3d;
  --secondary-color--light: #6c6e71;

  --primary-color-text: #1b1b1b;
  --secondary-color-text: #FFFFFF;

  --contrast-color: #dd8d3a;

}


