.lime-sports {
  --primary-color: #1F6521;
  --primary-color--dark: #133e14;
  --primary-color--light: #2b8c2e;

  --secondary-color: #A4A71E;
  --secondary-color--dark: #7a7c16;
  --secondary-color--light: #ced226;

  --primary-color-text: #666;
  --secondary-color-text: #666;

  --contrast-color: #dd8d3a;
}










