.lollipop {
  --primary-color: #ab47bc;
  --primary-color--dark: #790e8b;
  --primary-color--light: #df78ef;

  --secondary-color: #c51162;
  --secondary-color--dark: #8e0038;
  --secondary-color--light: #fd558f;

  --primary-color-text: black;
  --secondary-color-text: white;

  --contrast-color: #dd8d3a;
}

