.mint {
  --primary-color: #4ECDC4;
  --primary-color--dark: #3A535C;
  --primary-color--light: #87fff8;

  --secondary-color: #FF6B6B;
  --secondary-color--dark: #FF9393;
  --secondary-color--light: #A35E5E;

  --primary-color-text: black;
  --secondary-color-text: white;

  --contrast-color: #FFEC94;
}




