.paradise-orange {
  --primary-color: #f5a631;
  --primary-color--dark: #e88f0b;
  --primary-color--light: #f7bb62;

  --secondary-color: #81ffff;
  --secondary-color--dark: #4effff;
  --secondary-color--light: #b4ffff;

  --primary-color-text: #d9fbff;
  --secondary-color-text: #462603;

  --contrast-color: #FFED82;
}


