.reverse-sky {
  --primary-color: #03A9F4;
  --primary-color--dark: #0286c2;
  --primary-color--light: #2ebcfc;

  --secondary-color: #00BCD4;
  --secondary-color--dark: #008fa1;
  --secondary-color--light: #08e3ff;

  --primary-color-text: #efefef;
  --secondary-color-text: #e7f5f5;

  --contrast-color: #FFED82;
}


