<div class="og-poster-detail__text ml-poster-side
            a-pad--left-40 a-pad--mobile
            l-column--1-2 l-column--mobile--1-1
            l-flex l-flex--direction-column l-flex--justify-start">
    {{> atoms/title/h2 title="Atomic Watch" modifier="a-text--shadow a-text--left a-text--bold"}}
    {{> atoms/paragraph/simple
            text="Two brothers follow their father's footsteps as hunters,
                 fighting evil supernatural beings of many kinds, including monsters,
                  demons, and gods that roam the earth. Two brothers follow their father's footsteps as hunters,
                 fighting evil supernatural beings of many kinds, including monsters,
                  demons, and gods that roam the earth." modifier="a-pad--y a-text--s a-text--light"}}
    {{> atoms/content/price
            modifier="a-pad--y a-text--shadow a-text--xl"
            value="1.300"
            currency="€"}}
    {{> atoms/button/rounded
            modifier="a-button--s a-button--secondary l-column--1-3"
            cta="Comprar"}}
</div>