<div class="ml-data-quantity l-flex l-flex--justify__center">
    {{> atoms/paragraph/simple
            text=quantity
            modifier="a-text--bold a-text--secondary a-text--l a-pad--x "
    }}
    {{> atoms/paragraph/simple
            text=type
            modifier="a-text--secondary a-text--l a-pad--x a-slash a-slash--left a-text--mono-1"
    }}
</div>