<div class="ml-slider-buttons l-flex {{modifier}}">
    {{> atoms/button/slider modifier=modifierIcon href="1" }}
    {{> atoms/button/slider modifier=modifierIcon href="2" }}
    {{> atoms/button/slider modifier=modifierIcon href="3" }}
    {{> atoms/button/slider modifier=modifierIcon href="4" }}
    {{> atoms/button/slider modifier=modifierIcon href="5" }}
</div>