<div id="{{id}}" class="og-slider--simple__slide
                        l-column--1-1 l-flex l-flex--justify-space-evenly l-flex--align-center l-flex--direction-column l-position
                        {{modifier}}">
    {{> atoms/image/background
            modifier="a-image--cover"
            pictureClass=""
            src=images.bg}}
    {{> atoms/title/h2
            title="Mriya's Collection"
            modifier="a-text--secondary a-text--center a-pad-40"
    }}
    {{> atoms/button/linear
            cta="Mriya"
            modifier="a-mar a-button a-button--secondary a-button--m"
    }}

</div>