<div class="ml-message-demand
        l-flex l-flex--align-center l-flex--justify-center
        a-pad-5 a-mar--bottom-5
        a-border--smooth a-bg--light {{modifier}}">
    <div class="ml-message-demand__icon a-svg--mono-9">
        {{> (partial icon) }}
    </div>
    <span class="ml-message-demand__text a-text a-text--xs a-pad--x-5">{{{message}}}</span>
</div>