<section class="{{modifier}} l-flex l-flex--direction-column l-flex--justify-center">
    {{#if title}}
        {{> atoms/title/h2 title=title modifier="a-pad a-text  a-text--center a-text--brand"}}
    {{/if}}
    <div class="l-flex l-flex--justify-center l-flex--wrap">
        {{#times 6}}
            {{> (partial this.partial) }}
        {{/times}}
    </div>
</section>