<nav class="ml-social-simple a-text l-flex l-flex--wrap a-pad">
    <a href="#" class="ml-social-simple__network a-svg a-pad--right-5">
        {{> atoms/icons/social/twitter}}
    </a>
    <a href="#" class="ml-social-simple__network a-svg a-pad--right-5">
        {{> atoms/icons/social/whatsapp}}
    </a>
    <a href="#" class="ml-social-simple__network a-svg a-pad--right-5">
        {{> atoms/icons/social/facebook}}
    </a>
    <a href="#" class="ml-social-simple__network a-svg a-pad--right-5">
        {{> atoms/icons/social/linkedin}}
    </a>
    <a href="#" class="ml-social-simple__network a-svg a-pad--right-5">
        {{> atoms/icons/social/youtube}}
    </a>
    <a href="#" class="ml-social-simple__network a-svg a-pad--right-5">
        {{> atoms/icons/social/instagram}}
    </a>
    <a href="#" class="ml-social-simple__network a-svg a-pad--right-5">
        {{> atoms/icons/social/slack}}
    </a>
</nav>